#menuswitch {
    width: 10%;
}

.lineSlider {
    margin: 0px 0px 0px 0px;
}

.sidenav .divider {
    margin-top: 5px;
}

#settingsIcon {
    font-size: 40px;
}

#closeSettings {
    position: fixed;
    right: 0px;
    font-size: 40px;
    color: rgb(168, 166, 166);
    cursor: pointer;
}

#closeSettings:hover {
    color: rgb(114, 113, 113);
}

.brand-logo i {
    padding-left: .5em;
}

.brand-logo i:hover {
    transition: color .25s;
    padding-left: .5em;
    color: gray;
}

.logo {
    padding-top: 7px;
    width: 3.5em;
    height: 3.5em;
    margin-left: 50%;
 }